/*.top-area{*/
/*    width: 100%;*/
/*    background: url(../images/BannerImage/header.jpg) no-repeat;*/
/*    background-position: center center;*/
/*    background-size: cover;*/
/*    position: relative;*/
/*    box-shadow: 4px 0px 8px 6px rgba(0, 0, 0, 0.459);*/
/*}*/
/*.top-area::after{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background: linear-gradient(to bottom ,transparent 5%,rgba(68, 68, 68, 0.788));*/
/*}*/
/*.top-nav{*/
/*    padding-bottom: 2rem;*/
/*}*/
.user-info{
    padding: 4rem 0rem 2rem 0;
}
.myinfo-title{
    color: #3498db;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
}
.user-info-card{
    padding: 2rem 2rem;
    box-shadow: 0 4px 8px 6px rgb(7 17 27 / 6%);
}
.myHead{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.myHead-frame{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px 6px rgb(7 17 27 / 6%);
    position: relative;
    cursor: pointer;
}
.myHead-frame::after{
    content: '点击编辑头像';
    display: none;
    width: 100%;
    font-size: 0.5rem;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-30%);
}
.myHead-frame::before{
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.459);
}
.myHead-frame img{
    width: 100%;
}
.myHead-frame:hover::after,.myHead-frame:hover::before {
    display: block;
}
.myInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
    padding-left: 1rem;
    color: #636e72;
    position: relative;
}
.myInfo span{
    display: inline-block;
    font-size: 0.8rem;
    padding-left: 1rem;
    letter-spacing: 0.1rem;
}
.myID{
    position: absolute;
    right: 1rem;
    top: 0.2rem;
}
.editMyinfo{
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
}
.myProfile-card{
    margin-top: 2rem;
    padding: 2rem ;
    box-shadow: 0 4px 8px 6px rgb(7 17 27 / 6%);
}
.myProfile-card-head{
    margin-bottom: 2rem;
}
.myProfile-card-content{
    width: 100%;
    height: 10rem;
    border: 1px solid #bdc3c7;
    overflow: auto;
    padding: 2rem ;
    text-indent: 2rem;
    color: #95a5a6;
    font-size: 0.8rem;
}
.myLoved-card{
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 2rem ;
    box-shadow: 0 4px 8px 6px rgb(7 17 27 / 6%);
}
.myLoved-card-content{
    display: flex;
    padding: 2rem ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.myLoved-card-content h3{
    color: #bdc3c7;
}
.loved-type{
/*     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    padding: 2rem 6rem;
    position: relative;
}
.love-type-card{
    display: flex;
    justify-content: center;
    
}
.loved-box{
    display: flex;
    width: 8rem;
    height: 8rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    position: relative;
    cursor: pointer;
}
.loved-box input{
    display: none;
}
.loved-box span{
    color: #95a5a6;
}
.loved-font{
    font-size: 2rem;
    color: #95a5a6;
}
.loved-checked{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: 0 0px 0px #2260ff;
    transition: 0.3s;
}
.loved-box>input:checked ~.loved-checked{
    border: 1px solid #2260ff;
    border-radius: 0.5rem;
    box-shadow: 0 0px 10px #2260ff;
}
.loved-box>input:checked ~  span{
    color: #2260ff;
}
.loved-box>input:checked ~.loved-font{
    color: #2260ff;
}
.loved-submit{
    display: flex;
    justify-content: flex-end;
    
}
.loved-submit input{
    position: absolute;
    outline: none;
    background: #ffffff;
    border: none;
    color: rgb(68, 148, 240);
    border-radius: 0.5rem;
    transition: 0.5s;
    top: -4rem;
    right: 2rem;
}
.modal-body {
    color: gray;
}
.img-select{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.img-frame{
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    padding: 0.5rem;
    
}
.img-frame img{
    width: 100%;
    border-radius: 0.5rem;
}

input[name="head"]{
    display: none;
    
}
input[name="head"]:checked~img{
    transition: 0.5s;
    box-shadow: 0 0px 10px 1px #2260ff;
}
@media screen and (max-width:1600px){
    html{
        font-size: 12px;
    }
 
}
@media screen and (max-width:960px){
    .loved-type{
        padding: 2rem 2rem;
    }
}